* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.title {
  font-size: 40px;
  padding: 30px 0;
  letter-spacing: 3px;
  font-weight: bold;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 5px 0;
}

label {
  display: block;
  text-align: start;
}

input {
  display: block;
  border-radius: 10px;
  outline: none;
  font-size: 25px;
  padding: 5px 10px;
  border: 1px solid;
}

.password {
  text-align: end;
  color: #464697;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
}

.button {
  background-color: #464697;
  color: #fff;
  padding: 10px 0;
  font-size: 15px;
  border-radius: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #56569b;
}

.link {
  text-decoration: none;
  color: #464697;
  font-weight: bolder;
  cursor: pointer;
}

.password:hover,
.link:hover {
  text-decoration: underline;
}
