* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  position: relative;
}

input {
  width: 800px;
  font-size: 20px;
  border: 0;
  outline: none;
  border-radius: 10px;
  padding: 10px 15px;
}

.fa-search {
  color: #464697;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
}

@media (max-width: 320px) {
  input {
    width: 300px;
  }
}
