* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #464697;
  color: #fff;
  height: 150px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.amazonas-footer-logo, .all-rights-reserved {
  display: flex;
  align-items: center;
}

.social-media-name {
  list-style: none;
  margin-top: 5px;
}

li a {
  color: #fff;
  text-decoration: none;
}

.all-rights-reserved {
  width: 70px;
}